@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.App {
    font-family: 'Source Sans Pro', sans-serif;
    color:rgb(96, 83, 83);
    padding: 4vw 8vw;
}

.marsupials {
  font-size: 60px;
  color: 	#f2ebd7;
}

p {
  font-size: large;
}

.page{
  display: flex;
  column-gap: 5vw;  
}

.items-section {
  /* background-color: rgb(189, 172, 244); */
  display: flex;
  width: 95%;
  /* padding: 3vw; */
  justify-content: flex-start;
  align-items: top;
  flex-wrap: wrap;
  row-gap: 5vw;
  column-gap: 1.6vw;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 1vh;
}

.animals-count {
  display: flex;
  align-items: baseline;
  column-gap: 1vw;
}

.left-column {
  width: 27%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 1.6vh;
}